[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

omit = 
    pearll/demo.py
    pearll/agents/templates.py
    pearll/agents/ddpg.py
    pearll/agents/dqn.py
    pearll/agents/es.py
    pearll/agents/ga.py
    pearll/agents/a2c.py
    pearll/agents/ppo.py
    pearll/agents/adames.py
    pearll/settings.py
    pearll/plot.py
    pearll/agents/cem_rl.py
